.estructura-principal{
    background-color: red;
    /* height: 100vh;   */
    display :flex;
}


.contenido{
    background-color: blue;
    width: 80%;

}

aside{
    background-color: rgb(43, 255, 0);
    width: 30%;
}

header{
    background-color: aqua;
    height: 300px;
    
}


footer{
    background-color: blueviolet;
    height: 300px;
}


section{
    background-color: cadetblue;
    height: 500px;
}

.fa-adversal{
    font-size: 50px;
}

.left{
    margin-right: 500px;
}